/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 'Poppins', sans-serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--Oval in the background--*/
@media only screen and (max-width: 600px) {
    body {
        background-image: url("media/oval.png");
        background-color: #ffffff;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: right;
    }
  }

  @media only screen and (min-width: 601px) {
body{

    background-image: url("media/oval.png");
    background-color: #ffffff;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
}
  }

  #treeicon{

    width: 40px;
    height:40px;
    padding-right: 10px;
    margin-bottom: -8px;
  }

#logotree{

    padding-left: 100px;
    padding-right: 200px;
    font-family: 'Poppins', sans-serif;
    color:black !important;
}
/*---NAVIGATION---------------------------*/

/*--------Mobile--------------------------*/
/*Mobile nav*/


@media only screen and (max-width: 1020px) {

    .webnav {

        display: none;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        background-color: white;


    }

    .overlay a {

        text-decoration: none;
        font-size: 28px;
        color: #333333;
        display: block;
        transition: 0.3s;
        background-color: white;

    }

    .overlay a:hover, .overlay a:focus {
        color: tomato;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 60px;
    }

    .menu {

        position: fixed;
        top: 10px;
        right: 25px;
        font-size: 45px;
        background: none;


    }

    .menuitem {

        margin: 2% 0;
    }

    @media screen and (max-height: 450px) {
        .overlay {
            overflow-y: auto;
        }

        .overlay a {
            font-size: 10px;

        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            left: 35px;
        }
    }


    .button {
        background-color: white;
        border: none;
        color: #333333;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    .button:hover {
        opacity: 1
    }



    .navigation__container {
        background-color: tomato;
        position: sticky;
        top: 0;

    }

    .mobileiconlabel {
        display: inline-block;
        color: white;
        background: tomato;
        font-style: normal;
        font-size: 1.2rem;
        padding: 10px;
    }

    .menuitem {
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        text-align: center;
    }

    /*Hide checkbox and menuitems until clicked*/
    .menuitems__container,
    .mobileicon {
        display: none;
    }



    /*Show menuitems when mobileicon-label is clicked*/
    .navigation__container input:checked~.menuitems__container {
        display: block;

        padding-bottom: 100%;
        background: white;
    }

    /* diplay logo to the right*/
    .companylogo {
        position: absolute;
        color: white;
        text-decoration: none;
        top: 12px;
        right: 10px;
        width: 240px;
    }

    #logomenu {

        display: inline-block;
        align-items: center;
        padding-left: 20px;
        background: white;
        width: 5em;
        height: auto;



    }

    .lines {

        display: inline-block;
        left: 10px;
        background: none;

    }

    form {

        display: inline-block;
        color: #0f0b0b;
        text-align: center;
    }


    .input {
        position: relative;
        opacity: 100%;
        z-index: 0;
        text-align: center;
        padding: 5px;

    }


    header {

        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: row;
        height: 10vh;
        width: 100%;
        flex-wrap: wrap;
        border-bottom: 2px solid black;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .logo {

        display: block;
        margin-left: 10px;
        margin-right: auto;
        margin-right: 5px;
        width: 100%;


    }

    .gallery section img {
        min-width: 100%;

    }


    .logo img {
        width: 7em;
        height: auto;

    }


}

/*Web nav*/

@media only screen and (min-width: 1021px) {

    .mobilenav {
        display: none;
    }


    .navlinks{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 60px;
        font-size: 1.2rem;
        color: #000000;

    }
.navlink{
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.navlink :hover {
    background-color: yellow;
  }

a{
    text-decoration: none;
    font-family: 'Poppins' sans-serif;
    color: #000000;
}
}


/*---FOOTER-------------------------------*/

footer{
    
margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7f7f7f;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    
}